{% extends  "xdata/base.html"%}

{% block content %}
<h1>Manage DB here</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <a href="{% url 'clients_read' %}" class="btn btn-primary btn-lg btn-block">Clients</a>
    </div>
    <div class="col-md-6">
        <a href="{% url 'filterwords_read' %}" class="btn btn-success btn-lg btn-block">Filter Words</a>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <a href="{% url 'notifications_read' %}" class="btn btn-info btn-lg btn-block">Notifications</a>
    </div>
    <div class="col-md-6">
        <a href="{% url 'articles_read' %}" class="btn btn-warning btn-lg btn-block">Articles</a>
    </div>
</div>
{% endblock content %}