{% extends  "xdata/base.html"%}
{% load crispy_forms_tags %}

{% block content %}

<form action="" method="post" autocomplete="off">
    {% csrf_token %} <!-- for the protection -->
    <div class="row">
        <div class="col-md-6">{{form.sms|as_crispy_field}}</div>
        <div class="col-md-6">{{form.telegram|as_crispy_field}}</div>
    </div>
    {{form.whatsapp|as_crispy_field}} 
    {{form.email|as_crispy_field}} 
    {{form.comment|as_crispy_field}} 
    <div class="row">
      <div class="col-md-6"><button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-save"></i> Submit</button></div>
      <div class="col-md-6"><a href="{% url 'notifications_read' %}" class="btn btn-secondary btn-block btn-lg"><i class="fas fa-stream"> Back to list</i></a></div>
    </div>
    
</form>


{% if form.errors %}
  <ul class="errorlist">
    {% for field in form %}
      {% for error in field.errors %}
        <li>{{ field.label_tag }}: {{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock content %}

