{% extends  "xdata/base.html"%}

{% block content %}
<h1>Notifications List</h1>
<br>

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>SMS</td>
            <td>Telegram</td>
            <td>WhatsUpp</td>
            <td>Email</td>
            <td>Comment</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for notification in notifications_list %}
            <tr>
                <td>{{ notification.sms }}</td>
                <td>{{ notification.telegram }}</td>
                <td>{{ notification.whatsapp }}</td>
                <td>{{ notification.email }}</td>
                <td>{{ notification.comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}